/* CSS Document */

/*body css*/
body{
   box-shadow: 0 0 70px 5px rgba(0,0,0,0.24) inset;

}

h1, h2, h2, h4, h5, h6{
  line-height: 1.4;
}

/*header css*/
header{
  height: 7.1em;
  -webkit-box-shadow: 0 0 70px 5px rgba(0,0,0,0.24);
  box-shadow: 0 0 60px 5px rgba(0,0,0,0.24);
}

.bg-header{
  background: #e0e1e5 url(../images/background/background.png) repeat;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.24);
}

a{
  color:#6c757d;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/*nav css*/
.nav-main ul li{
  padding: 0px 15px 0px 15px;
}


.nav-hover{
  position: relative;
}

.nav-hover:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #FF0909;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}
 
.nav-hover:hover:after{
  width: 100%;
  left: 0;
  background: #FF0909;
}

.dropbtn {
    background-color: #f8f9fa;
    color: black;
    padding: 10px 0px 10px 0px;
    border: none;
	text-decoration:none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(1,0,0,0.8);
    width: 17em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px dotted white;
}

.dropdown-content a:hover {color:#fb0;}

.dropdown:hover .dropdown-content {
    display: block;
}


.hover-menu:hover{
  color: #FE1B1B;
}

.nav-link:hover{
  color: #FF0909;
}

.fixed-menu{
    position: relative;
    top: 1.2em;
    z-index: 1;
}

/*search css*/
#mysearch{
  padding-left: 20px; 
  border-radius: 40px; 
  z-index: 0;
}

/*content css*/

.a-link{
  color: #000;
}

.a-link:hover{
  color: #000;
  text-decoration: none;
}

.box-shadow{
	box-shadow: 0 3.87px 6px 0 rgba(0,0,0,0.2);
}

.bg{
  background-color:#dadada !important;
}

#tin-hot-left{
	padding: 0;
}

@media (max-width: 767px){
  #tin-hot-left{
    padding: 0 15px 3px 15px;  
  }
}


#tin-hot-right-1{
  padding: 0 0 0 5px;
  margin-bottom: 6px;
}

.title-bai-viet-hot{
  color: #FFF;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.65)), to(transparent));
  background: linear-gradient(to right, #101d46, 50%, transparent 60%);
}

@media(max-width: 767px){
  .title-bai-viet-hot{
    z-index: 0;
    font-size: 16px;
    width: 92%;
    left: 15px;
    position: absolute;
    bottom: 3px;
  }
}

@media(max-width: 991px){
  .title-bai-viet-hot{
    z-index: 0;
    font-size: 18px;
    font-weight: bold;
  }
}


@media (max-width: 767px){
  #tin-hot-right-1{
    padding: 0 15px 3px 15px;
    margin-bottom: 0;
  }
}


#tin-hot-right-2{
  padding: 0 0 0 5px;
}

@media (max-width: 767px){
  #tin-hot-right-2{
    padding: 0 15px 3px 15px;
  }
}

.img-tinhot-right{
  width: 375px;
  height: 221.25px;
}

@media (max-width: 1200px){
  .img-tinhot-right{
    width: 375px;
    height: 221.25px;
  }
}

@media (max-width: 1199px){
  .img-tinhot-right{
    width: 314.984px;
    height: 185.500px;
  }
}

@media (max-width: 991px){
  .img-tinhot-right{
    width: 100%;
    height: 138.5px;
  }
}

@media (max-width: 767px){
  .img-tinhot-right{
    width: 100%;
    height: 100%;
  }
}

.img-tinhot-left{
  width: 100%;
  height: 448.39px;
}

@media (max-width: 1200px){
  .img-tinhot-left{
    width: 760px;
    height: 448.39px;
  }
}

@media (max-width: 1199px){
  .img-tinhot-left{
    width: 639.98px;
    height: 377.58px;
  }
}

@media (max-width: 991px){
  .img-tinhot-left{
    width: 100%;
    height: 283.19px;
  }
}

@media (max-width: 767px){
  .img-tinhot-left{
    width: 100%;
    height: 100%;
  }
}


.title-content{
  margin-bottom: 5px;
  padding: 0;
}	

@media (max-width:767px){
  .title-content{
	  padding: 0 15px 0 15px;
  }
}

.title-content h3{
  border-bottom:1px solid;
}

.title-bai-viet{

}

@media (max-width: 767px){
  .title-bai-viet{
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 991px){
  .title-bai-viet{
    font-size: 16px;
  }
}

.div-bai-viet{
  padding: 3px;
}


@media (max-width: 767px){
  .div-bai-viet{
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
  }
}

/*css content bai viet*/

.post-metadata{
  border-bottom:1px dotted rgba(215,215,215,1.0);
  margin-bottom: 25px;  
}

.post-metadata ul{
  list-style-type: none;
  padding: 0;
  color: rgba(153,153,153,1.0);
  font-size: 13px;
}


.content-bai-viet{

}

.content-bai-viet p{
  margin:10px 0 0 0;
  padding-top: 8px;
  padding-bottom: 7px; 
  font-size: 17px;
  color: rgba(102,102,102,1.0);
}

.content-bai-viet p img{
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px){
  .content-bai-viet p img{
    width: 100%;
  }
}

.content-xem-nhieu h5{
  margin-bottom: 20px;
  border-bottom: 1px dotted rgba(215,215,215,1.0);
  line-height: 30px;
  padding-bottom: 15px;
}

.content-xem-nhieu-1{
  margin-bottom: 20px;
}

/*footer css*/
.main-footer{
  background-color: #AAAAAA;
  color: white;
  padding: 30px;
}

#toTop
{
  border-radius:20px;
  position: fixed;
  bottom: 1em;
  right: .5em;
  cursor: pointer;
  display: none;
}

/*social responsive*/

.social-widget{
    width: 40px;
    height: 120px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 99;
}

.social-widget a{
  width: 40px;
  height: 40px;
  display: block;
  background-size: 100% auto;
  position: relative;
  cursor: pointer;
}

@media (max-width: 880px){
  .social-widget{display: none;}
}

.social-widget-mobile{

}

.social-widget-mobile ul{
  list-style-type: none;
}

.social-widget-mobile ul li{
  float: left;
  margin-right: 1em;
}

@media (min-width: 881px){
  .social-widget-mobile{display: none;}
}

/*css scroll bar*/





















